In [1]:
empty_dict = {}
empty_dict

{}

In [3]:
bike_owners = {"James": "Ducati Monster 1200",
               "Jacob": "Ducati Scrambler 1100",
               "William": "BMW S 10000 RR",
               "Aiden": "Harley Devidson"}
bike_owners

{'James': 'Ducati Monster 1200',
 'Jacob': 'Ducati Scrambler 1100',
 'William': 'BMW S 10000 RR',
 'Aiden': 'Harley Devidson'}

In [4]:
bike_owners["James"]

'Ducati Monster 1200'

In [5]:
int_dict = {1: 45, 2: 55, 3: 65}
int_dict

{1: 45, 2: 55, 3: 65}

In [6]:
student_details = {"Henry": 1995,
                   "Samuel": 1999,
                   "Ingrid": 2005}
student_details

{'Henry': 1995, 'Samuel': 1999, 'Ingrid': 2005}

In [7]:
student_details.keys()

dict_keys(['Henry', 'Samuel', 'Ingrid'])

In [8]:
"Samuel" in student_details

True

In [9]:
"Andrew" in student_details

False

In [10]:
student_details.values()

dict_values([1995, 1999, 2005])

In [11]:
mixed_dict = {False: "Daniel",
              "Aria": [1, 2, 3],
              "Jacob": True}
mixed_dict

{False: 'Daniel', 'Aria': [1, 2, 3], 'Jacob': True}

In [14]:
bike_details = {"bike_owner": "James Smith",
                "bike_model": "Ducati Monster 1200",
                "bike_price": 28140,
                "engine_displacement": 1197}
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197}

In [16]:
bike_details["num_cylinders"] = 2

In [17]:
bike_details

{'bike_owner': 'James Smith',
 'bike_model': 'Ducati Monster 1200',
 'bike_price': 28140,
 'engine_displacement': 1197,
 'num_cylinders': 2}

In [18]:
bike_details["bike_price"] = 29140
bike_details["bike_price"]

29140

In [19]:
bike_details.get("bike_price")

29140

In [20]:
fruit_qty = {}
fruit_qty

{}

In [21]:
fruit_qty["Banana"] = 50
fruit_qty["Apple"] = 78
fruit_qty["Apricot"] = 40
fruit_qty

{'Banana': 50, 'Apple': 78, 'Apricot': 40}

In [22]:
fruit_qty["Orange"] = 70
fruit_qty["Avocado"] = 30
fruit_qty

{'Banana': 50, 'Apple': 78, 'Apricot': 40, 'Orange': 70, 'Avocado': 30}

In [23]:
fruit_qty["Watermelon"] = 10
fruit_qty

{'Banana': 50,
 'Apple': 78,
 'Apricot': 40,
 'Orange': 70,
 'Avocado': 30,
 'Watermelon': 10}

In [24]:
fruit_qty_consumed = {"Banana": [50, 60, 40, 55],
                      "Apple": [78, 86, 80, 60],
                      "Apricot": [40, 70, 30, 55],
                      "Orange": [70, 80, 60, 65],
                      "Avocado": [30, 50, 40, 45]}
fruit_qty_consumed

{'Banana': [50, 60, 40, 55],
 'Apple': [78, 86, 80, 60],
 'Apricot': [40, 70, 30, 55],
 'Orange': [70, 80, 60, 65],
 'Avocado': [30, 50, 40, 45]}

In [25]:
fruit_qty_consumed = {
    "Banana": {"Fri": 70, "Sat": 80, "Sun": 95},
    "Apple": {"Fri": 90, "Sat": 95, "Sun": 110},
    "Apricot": {"Fri": 70, "Sat": 85, "Sun": 95},
    "Orange": {"Fri": 80, "Sat": 90, "Sun": 100},
    "Avocado": {"Fri": 60, "Sat": 70, "Sun": 80}
}
fruit_qty_consumed

{'Banana': {'Fri': 70, 'Sat': 80, 'Sun': 95},
 'Apple': {'Fri': 90, 'Sat': 95, 'Sun': 110},
 'Apricot': {'Fri': 70, 'Sat': 85, 'Sun': 95},
 'Orange': {'Fri': 80, 'Sat': 90, 'Sun': 100},
 'Avocado': {'Fri': 60, 'Sat': 70, 'Sun': 80}}