In [1]:
def print_fn(*args):
    args_type = type(args)
    print(args_type)
    print(args)

In [2]:
print_fn()

<class 'tuple'>
()

In [3]:
print_fn("Bob")

<class 'tuple'>
('Bob',)

In [4]:
print_fn("Bob", "Peter")

<class 'tuple'>
('Bob', 'Peter')

In [6]:
names_list = ["Greg", "Claudia", "Bob", "Alice", "Steve", "Jim"]
print_fn(names_list)

<class 'tuple'>
(['Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim'],)

In [7]:
print_fn(*names_list)

<class 'tuple'>
('Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim')

In [8]:
def students_in_college(college, city, *students):
    print("College: ", college)
    print("City: ", city)
    print("Students: ", students)

In [9]:
students_in_college("Columbia", "New York")

College:  Columbia
City:  New York
Students:  ()

In [11]:
students_in_college("Columbia", "New York", "Peter", "Julie")

College:  Columbia
City:  New York
Students:  ('Peter', 'Julie')

In [12]:
students_in_college("Columbia", "New York", "Bob")

College:  Columbia
City:  New York
Students:  ('Bob',)

In [13]:
students_in_college("Columbia", "New York", "Peter", "Julie", "Trista")

College:  Columbia
City:  New York
Students:  ('Peter', 'Julie', 'Trista')

In [14]:
students_in_college(college="Columbia", city="New York", "Peter", "Julie", "Trista")

SyntaxError: positional argument follows keyword argument (<ipython-input-14-133cae5aaf47>, line 1)

In [15]:
def students_in_college(*students, college, city):
    print("College: ", college)
    print("City: ", city)
    print("Students: ", students)

In [16]:
students_in_college(college="Columbia", city="New York", "Peter", "Julie", "Trista")

SyntaxError: positional argument follows keyword argument (<ipython-input-16-133cae5aaf47>, line 1)

In [17]:
students_in_college("Columbia", "New York", "Bob")

TypeError: students_in_college() missing 2 required keyword-only arguments: 'college' and 'city'

In [18]:
students_in_college("Bob", college="Columbia", city="New York")

College:  Columbia
City:  New York
Students:  ('Bob',)

In [19]:
students_in_college("Bob", "Peter", college="Columbia", city="New York")

College:  Columbia
City:  New York
Students:  ('Bob', 'Peter')

In [20]:
def students_details(**kwargs):
    print(type(kwargs))
    print(kwargs)

In [21]:
students_details()

<class 'dict'>
{}

In [22]:
students_details(name="John")

<class 'dict'>
{'name': 'John'}

In [23]:
students_details(name="John", age=18)

<class 'dict'>
{'name': 'John', 'age': 18}

In [24]:
students_details(name="John", age=18, college="Boston University")

<class 'dict'>
{'name': 'John', 'age': 18, 'college': 'Boston University'}

In [25]:
def student_details(**details):
    for key, value in details.items():
        print(key, value)

In [26]:
student_details(name="John", age=18, college="Boston University")

name John
age 18
college Boston University

In [28]:
details_dictionary = {'name':"John", 'age':18, 'college':"Boston University"}

In [30]:
student_details(**details_dictionary)

name John
age 18
college Boston University

In [31]:
def student_details(**details):
    if 'name' in details:
        print("Name: ", details['name'])
    if 'age' in details:
        print("Age: ", details['age'])
    if 'college' in details:
        print("College: ", details['college'])

In [32]:
student_details(name="John")

Name:  John

In [33]:
student_details(name="John", age=18, college="Boston University")

Name:  John
Age:  18
College:  Boston University

In [34]:
student_details(**details_dictionary)

Name:  John
Age:  18
College:  Boston University

In [35]:
def students_in_college(*student_names, **college_details):
    print("Students--")
    for s in student_names:
        print(s)
    print()
    print("College Details--")
    for key, value in college_details.items():
        print(key, value)

In [36]:
students_in_college("Alison", "Bob", "Charlie", name="Stanford", city="Palo Alto")

Students--
Alison
Bob
Charlie

College Details--
name Stanford
city Palo Alto